.aboutProject {
  margin: 110px 70px;
}

.aboutProject__title {
  font-size: 22px;
  letter-spacing: -0.88px;
}

.aboutProject__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 26px;
  margin-top: 70px;
}

.aboutProject__subtitle {
  font-size: 20px;
  letter-spacing: -0.8px;
}

.aboutProject__paragraph {
  font-size: 14px;
  line-height: 20px;
}

.separation-line {
  height: 1.05px;
  margin-top: 25px;
  background-color: black;
}
/* ---------------------------------- */
.project-time__container {
  display: grid;
  grid-template-columns: 20% 80%;
  margin-top: 110px;
}
.project-time__title {
  font-size: 14px;
  text-align: center;
  background-color: #F2F2F2;
  padding: 10px 0;
}

.project-time__title:first-child {
  background-color: #2BE080;
}

.project-time__description {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-align: center;
  padding: 14px 0;
  color: #A0A0A0;
  text-align: center;
}

@media only screen and (max-width: 768px) {
 .aboutProject {
    margin: 90px 50px 75px 50px;
 }

 .aboutProject__paragraph {
  font-size: 12px;
  line-height: 18px;
}

.aboutProject__container {
  column-gap: 30px;
  row-gap: 23px;
}
/* -------------- */
.project-time__container {
  grid-template-columns: 20% 80%;
  margin-top: 93.5px;
}
}