.profile-change__title {
  margin-bottom: 118px;
}

.profile-change__input {
  width: 100%;
  padding: 5px 0;
  font-size: 11px;
  border: none;
  background-image: url('../../images/name.svg');
  background-repeat: no-repeat;
  background-position: left center;
}

.profile-change__input:last-of-type {
  background-image: url('../../images/email.svg');
}

.profile-change__input:hover {
  border-bottom: thin solid green;
}

.profile-change__line {
  height: 2px;
  width: 100%;
  background-color: rgb(216, 216, 216);
  margin: 12px 0;
}

.profile-change__error {
  font-size: 11px;
  color: #EE3465;
}

.profile-change__submit {
  width: 100%;
  border: none;
  border-radius: 3px;
  background: #3456F3;
  color: white;
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
  padding: 13px 0 15px 0;
  cursor: pointer;
  transition: .4s ease;
}

.profile-change__submit:hover {
  opacity: .7;
}

@media only screen and (max-width: 768px) {
  .profile-change__title {
    margin-bottom: 89px;
  }
}

@media only screen and (max-width: 320px) {
  .profile-change__title {
    margin-bottom: 75px;
  }
}