.movies {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 1fr 1.1px 1fr 1fr;
  column-gap: 20px;
  row-gap: 75px;
  margin: 0 70px;
}

.movies__separation-line {
  height: 1.1px;
  background-color: black;
  grid-column: 1 / span 12;
  grid-row: 3;
}

.movies__button {
  grid-column: 1 / span 12;
  grid-row: 5;
}