.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 70px 20px 70px;
  background-color: #e6e6e6;
}

.footer__title {
  color: #A0A0A0;
  font-size: 13px;
}

.footer__separation-line {
  width: 100%;
  height: 1.05px;
  margin-top: 20px;
  background-color: rgb(209, 209, 209);
}

.footer__container {
  display: flex;
  margin-top: 17px;
  align-items: baseline;
  align-self: stretch;
  justify-content: space-between;
}

.footer__date {
  font-size: 13px;
}

.footer__link {
  color: #000;
  font-size: 13px;
  text-decoration: none;
  transition: 0.4s ease;
}

.footer__link:hover {
  opacity: .7;
}

.footer__link:first-child {
  margin-right: 20px;
}

@media only screen and (max-width: 768px) {
  .footer {
    padding: 80px 30px 20px 30px;
  }

  .footer__container {
    margin-top: 17px;
  }
}

@media only screen and (max-width: 530px) {
  .footer {
    padding: 80px 18px 20px 18px;
  }

  .footer__title {
    font-size: 12px;
  }

  .footer__container {
    flex-direction: column;
    align-items: center;
  }

  .footer__link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
  }

  .footer__date {
    font-size: 12px;
    order: 2;
    margin-top: 30px;
  }

  .footer__link {
    font-size: 12px;
  }

  .footer__link:first-child {
    margin-right: 0;
    margin-bottom: 13px;
  }
}